# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
venv/
.venv/

# Segredos — nunca versionar
.env
*.env
*.env.*
!.env.example

# Banco de dados local
*.sqlite3
*.sqlite3-journal
*.db

# Django
*.log
staticfiles/
media/

# Ferramentas
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# Editores
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
Desktop.ini
