# Python
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
*.pyc
*.pyo
*.pyd
*.env
*.env.*
!.env.example
venv/
.venv/
.env

# Django
*.log
staticfiles/
media/

# VS Code
.vscode/

# macOS
.DS_Store

# OneDrive
Thumbs.db
Desktop.ini
